.card {
    max-width: 504px;
    padding: 1rem;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-clr);
    border-radius: 2px;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.card div{
    margin: 0;
}

.card div:nth-child(1){
    text-align: center;
}

.card h3 {
    font-size: var(--fs-h3);
    margin: .5rem 0;
}

.card ul{
    display: flex;
    flex-flow: row;
    color: white;
    max-width: min-content;
    padding: 0;
    margin: .1rem auto .5rem auto;
}

.card ul li{
    margin: 0 .2rem;
    padding: 0 .4rem;
    background-color: transparent;
    border: 2px solid var(--secondary);
    border-radius: 10px;
}

.card div p{
    width: 100% !important;
    text-align: left;
    margin: 0 0 1.5rem 0 !important;
    padding: 0 1rem;
}

.card div a{
    background-color: var(--secondary);
    padding: .3rem .5rem;
    margin: 0 1rem;
    font-weight: 400;
    transition: 0.5s;
}

.card div a:hover{
    background-color: var(--secondary);
    box-shadow: 0 0 25px rgb(0, 89, 216);
}

@media only screen and (max-width: 600px) {
    .card {
        max-width: 315px;
        max-height: 650px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .card h3 {
        font-size: var(--fs-h3);
        margin-top: 0;
        margin-bottom: .5rem;
    }

    .card div:nth-child(1){
        margin-top: 0;
        text-align: center;
    }
}