/* === Footer === */

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid var(--font-clr);
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 25px;
    max-height: 25px;
    margin: 0 1rem;
    transition: 0.5s;
    border-radius: 50%;
}

.footer a:hover {
    box-shadow: 0 0 25px var(--secondary);
}

.footer p {
    text-align: center;
    position: absolute;
    left: 0;
    margin-left: 2rem;
}

.medialinks {
    display: flex;
    flex-direction: row;
}

.toast{
    border: 2px solid var(--secondary);
    background-color: var(--bg-clr);
    border-radius: 10px;
    padding: .5rem 1.2rem;
    color: var(--font-clr);
    font-size: var(--fs-body);
    margin-bottom: 6rem;
}

.toast button{
    cursor: pointer;
    margin-left: 1rem;
    padding: .2rem .5rem;
    background: var(--secondary);
    border: none;
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        position: unset;
        padding-top: 1.2rem;
        margin: 0;
    }

    .toast{
        margin-bottom: 8rem;
    }
}