/* === Skills */

.skills h2 {
    font-size: var(--fs-h2);
}

.logos {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 25vw
}


@media only screen and (max-width: 600px) {
    .logos {
        margin: 0;
    }
}