.container {
  padding: 0 2rem;
}


/* === Main === */

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* === Article === */

.main article {
  text-align: center;
  margin: 6rem 0;
}

.main article p {
  margin: 0 auto;
  width: 50%;
  text-align: left;
}

.main h2 {
  font-size: var(--fs-h2);
}


/* === Projects === */
.projects h2 {
  text-align: center;
  font-size: var(--fs-h2);
}

.projecstcontainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.projecstcontainer div {
  margin: 2rem;
}

/* === Media queries === */

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }

  .footer {
    flex-direction: column;
  }

  .footer p {
    position: unset;
    padding-top: 1.2rem;
    margin: 0;
  }

  .logos {
    margin: 0;
  }
}